.nav{
  border-bottom: solid;
  width: 100%;
  position: fixed;
  height: 70px;
  top: 0;
  background-color: black;
  z-index: 10;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}
.nav div{
  margin: 0 30px;
}
.logo{
  font-size: 30px;
  font-weight: 550;
}

.navtitle{
  text-decoration: none;
  color: white;
  font-weight: 550;
}

.navright{
  margin-right: 100px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}